
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | AI Supply Chain</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/Users/upasanaporwal/Desktop/project/frontend/css/dashboard.css') }}">
</head>
<body>
    <script src="../js/dashboard.js"></script>

<nav class="navbar">
    <h2>AI Supply Chain</h2>
    <ul>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="forecast.html">Forecast</a></li>
        <li><a href="inventory.html">Inventory</a></li>
        <li><a href="login.html">Logout</a></li>
    </ul>
</nav>

<div class="container">

    <div class="cards">
        <div class="card">
            <h3>Predicted Demand</h3>
            <p>+18%</p>
        </div>
        <div class="card">
            <h3>Total Products</h3>
            <p>120</p>
        </div>
        <div class="card">
            <h3>Low Stock</h3>
            <p>3 Items</p>
        </div>
        <div class="card">
            <h3>Inventory Cost</h3>
            <p>₹2.4 Lakh</p>
        </div>
    </div>

    <div class="table-section">
        <h3>Quick Inventory Summary</h3>
        <table>
            <tr>
                <th>Product</th>
                <th>Stock</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>Product A</td>
                <td>120</td>
                <td class="warning">Low</td>
            </tr>
            <tr>
                <td>Product B</td>
                <td>300</td>
                <td class="ok">Good</td>
            </tr>
        </table>
    </div>

</div>
<script>
    async function loadDashboard() {
        const response = await fetch("http://127.0.0.1:5000/api/dashboard");
        const data = await response.json();
    
        document.querySelectorAll(".card p")[0].innerText = data.predicted_demand;
        document.querySelectorAll(".card p")[1].innerText = data.total_products;
        document.querySelectorAll(".card p")[2].innerText = data.low_stock + " Items";
        document.querySelectorAll(".card p")[3].innerText = data.inventory_cost;
    }
    
    loadDashboard();
    </script>

</body>
</html>
