<!DOCTYPE html>
<html>
<head>
<title>Inventory</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/inventory.css') }}">

</head>

<body>

<nav class="navbar">
<h2>SanchayAI</h2>

<ul>
<li><a href="/">Home</a></li>
<li><a href="/dashboard">Dashboard</a></li>
<li><a href="/forecast">Forecast</a></li>
<li><a href="/inventory">Inventory</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/register">Register</a></li>
<li><a href="/logout">Logout</a></li>
</ul>
</nav>

<div class="container">

<h2>Inventory Management</h2>

<table>

<tr>
<th>Product Code</th>
<th>Stock</th>
<th>Total Sales</th>
<th>Status</th>
</tr>

{% for item in inventory %}

<tr>

<td>{{ item.product }}</td>
<td>{{ item.stock }}</td>
<td>{{ item.sales }}</td>

<td class="{% if item.status=='Low Stock' %}low{% else %}ok{% endif %}">
{{ item.status }}
</td>

</tr>

{% endfor %}

</table>

</div>

</body>
</html>