<!DOCTYPE html>
<html>
<head>
    <title>Login Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>
<body>
<div class="container" id="container">

    <!--left side image-->
     <!-- Image / AI Section -->
     <div class="image-section">
        <h1>SanchayAI 📈</h1>
        <p>Smart stock management Assistant </p>
    </div>


    <!-- right Forms Section -->
    <div class="form-section">
        <!-- Login -->
        <div class="form login">
            <h2>Login</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="error-box">{{ messages[0] }}</div>
            {% endif %}
          {% endwith %}
            <form method="POST" action="/login">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() if csrf_token else '' }}">
                <div class="input-box">
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="input-box">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            <p>Don't have account? <span id="goRegister">Register</span></p>
        </div>

        <!-- Register -->
        <div class="form register">
            <h2>Register</h2>
            <form method="POST" action="/register">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Register</button>
            </form>
            <p>Already have account? <span id="goLogin">Login</span></p>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>