<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

<div class="container">

    <!-- LEFT SIDE (same as login) -->
    <div class="image-section">
        <h1>SanchayAI 📈</h1>
        <p>Smart Stock Management Assistant</p>
    </div>

    <!-- RIGHT SIDE FORM -->
    <div class="form-section">
        <div class="form">
            <h2>Create Account</h2>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="error-box">{{ messages[0] }}</div>
            {% endif %}
            {% endwith %}

            <form method="POST" action="/register">
                
                <!-- CSRF -->
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="input-box">
                    <input type="text" name="username" placeholder="Username" required>
                </div>

                <div class="input-box">
                    <input type="email" name="email" placeholder="Email" required>
                </div>

                <div class="input-box">
                    <input type="password" name="password" placeholder="Password" required>
                    <span onclick="togglePassword()"> </span>
                </div>

                <script>
                    function togglePassword() {
                        var passwordInput = document.querySelector('input[name="password"]');
                        if (passwordInput.type === "password") {
                            passwordInput.type = "text";
                        } else {
                            passwordInput.type = "password";
                        }
                    }
                </script>

                <button type="submit">Register</button>
            </form>

            <p>Already have an account? 
                <a href="/login">Login</a>
            </p>
        </div>
    </div>

</div>

</body>
</html>