
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Auth Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>

<body>

<div class="container">

    <!-- LEFT PANEL -->
    <div class="left-panel">
        <h1>Welcome to InventoryAI 🚀</h1>
        <p>Manage inventory with AI-powered forecasting</p>
        <button onclick="switchToSignup()">Sign Up</button>
    </div>

    <!-- RIGHT PANEL -->
    <div class="right-panel">

        <h2 id="formTitle">Sign In</h2>

        <form method="POST" action="/register">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() if csrf_token else '' }}">

            <div class="input-box">
                <input type="text" placeholder="Email" required>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Password" required>
            </div>

            <button type="submit" >Register</button>

        </form>

        <p class="toggle-text">
            Don't have an account?
            <span onclick="switchToSignup()">Sign Up</span>
        </p>

    </div>

</div>

<script src="register.js"></script>

</body>
</html>