/* RESET */
body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background:#f1f5f9;
}

/* NAVBAR */

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:linear-gradient(90deg,#4a7ff9,#3279eb);
    color:white;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:25px;
    margin:0;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-size:15px;
    transition:0.3s;
}

.navbar a:hover{
    color:#38bdf8;
}

/* MAIN */

.main{
    padding:30px;
}

h1{
    margin-bottom:20px;
}

/* CARDS */

.cards{
    display:flex;
    gap:25px;
    margin-bottom:30px;
}

.card{
    flex:1;
    padding:25px;
    border-radius:15px;
    color:white;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

/* Different colors */

.card:nth-child(1){
    background:linear-gradient(135deg,#21225e,#8b5cf6);
}

.card:nth-child(2){
    background:linear-gradient(135deg,#f59e0b,#f97316);
}

.card:nth-child(3){
    background:linear-gradient(135deg,#10b981,#059669);
}

.card h3{
    margin:0;
    font-size:16px;
}

.card p{
    font-size:28px;
    font-weight:bold;
    margin-top:10px;
}

/* FILTER SECTION */

.filter{
    display:flex;
    gap:15px;
    align-items:center;
    margin-bottom:20px;
}

.filter select,
.filter input{
    padding:8px;
    border-radius:8px;
    border:1px solid #ccc;
}

.filter button{
    padding:8px 15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

/* CHART BOX */

.chart-container{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}