body {
    margin: 0;
    font-family: Arial;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/static/image/stock.avif") no-repeat center center/cover;
}

.container {
    display: flex;
    width: 800px;
    height: 500px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
}

/* FORM SECTION */
.form-section {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.form {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    transition: 0.5s;
}

.login {
    left: 0;
}

.register {
    left: 100%;
}

/* ACTIVE STATE */
.container.active .login {
    left: -100%;
}

.container.active .register {
    left: 0;
}

/* INPUTS */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 10px;
    background: #056087;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

span {
    color: blue;
    cursor: pointer;
}

/* IMAGE SECTION */
.image-section {
    width: 50%;
    position: relative;
    /* background: linear-gradient(135deg, #083345, #203a43, #2c5364);  */
    /* background-image : url('backend/image/webback.jpg'); */
    background: #056087;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* DARK OVERLAY FOR TEXT VISIBILITY */
.image-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.image-section h1,
.image-section p {
    position: relative;
    z-index: 1;
}

